<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Users</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
</head>
<body>

<div>    
    <h1>Welcome to Website</h1>
    <h5>Live users: <span id="counter">{{data['counter']}}</span></h5>
</div>

<script>
    var socket = io();
    socket.on('connect', function(json){
        console.log('connected');
    });

    socket.on('disconnect', function(json){
        console.log('disconnected');
    });

    socket.on('user', function(json){
        console.log(json);
        $('#counter').text(json.counter);
    });
</script>

</body>
</html>
