<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Users</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
</head>
<body>

<div>    
    <h1>Welcome to Website</h1>
    <h5>Live users: <span id="counter">{{data['counter']}}</span></h5>
    <small id="status""></small>
</div>

<script>
    var socket = io();
    var lastCount = {{data['counter']}};

    socket.on('connect', function(){
        console.log('Connected');
    });

    socket.on('disconnect', function(){
        console.log('Disconnected');
    });

    socket.on('user', function(json){
        console.log(json);
        var newCount = json.counter;
        $('#counter').text(newCount);
        
        if (newCount > lastCount) {
            $('#status').text('Someone has connected').css('color', 'green').show();
            setTimeout(function() {
                $('#status').fadeOut();
            }, 2000);
        } else if (newCount < lastCount) {
            $('#status').text('Someone has disconnected').css('color', 'red').show();
            setTimeout(function() {
                $('#status').fadeOut();
            }, 2000);
        }
        
        // Update lastCount to keep track of the most recent user count
        // This allows us to compare with future updates and determine if users connected or disconnected
        lastCount = newCount;
    });
</script>

</body>
</html>
